<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('o5igrvk28ukkxerzuvpl', height: 300, crop: :fill %>)">
  <div class="container">
    <h1>Create your own movie lists</h1>
  </div>
</div>


<ul style="list-style: none">
  <div class="container">

    <div class="cards">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imgsrc.cineserie.com/2017/02/Filmandclapboard.jpg?ver=1)">
          <li>
          <h2><%= link_to list.name, list_path(list) %></h2>
          <p><em><%= list.movies.count %> movie(s)</em></p>
          </li>
        </div>
      <% end %>
    </div>
  </div>
</ul>

<%= link_to "Add a new list", new_list_path %>
